body {
  width:400px;
  margin:10px;
  padding:10px;
}

#title {
  font-weight: bold;
}

.rating {
  margin-bottom: 0.5rem !important;
}

.br-theme-fontawesome-stars .br-widget a {
  font-size: 25px;
}

.has-text-centered-block {
  display: block;
}

.dashboard-button {
  margin: 15px 0;
  width: 100%;
}

#track-this {
  text-align: center;
}

.is-news {
  width: 75%;
  background-color: #ffc500;
}

.user-notes {
  width: 100%;
  padding: 4px;
}

.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  left: 130px;
  padding: 5px;
  min-width: 80px;
  position: absolute;
  text-align: center;
  top: 60px;
  z-index: 10;
}

.column {
  padding: 0.5rem;
}