.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.user-notes {
  width: 100%;
  padding: 4px;
}

.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  left: 130px;
  padding: 5px;
  min-width: 80px;
  position: absolute;
  text-align: center;
  top: 60px;
  z-index: 10;
}

.dashboard-button {
  margin: 15px 0;
  
  width: 100%;
}

.column {
  padding: 0.5rem;
}